.message {
    padding: 5px;
    margin: 10px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: right !important;
}

.message__userCard {
    background-color: rgb(169,232,122) !important;
}

.message__guestCard {
    background-color: rgb(255,255,255) !important;
}